<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396134266611-0gogg0tb6uestd9oruet3puf9ci2r11e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396134266611-0gogg0tb6uestd9oruet3puf9ci2r11e</string>
	<key>API_KEY</key>
	<string>AIzaSyAI7bhr1mCXcaW9S3EpPtAKIVD9zAFdaSs</string>
	<key>GCM_SENDER_ID</key>
	<string>396134266611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.stramplerbande</string>
	<key>PROJECT_ID</key>
	<string>stramplerbande-d7bd4</string>
	<key>STORAGE_BUCKET</key>
	<string>stramplerbande-d7bd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396134266611:ios:b92795d6a1a5fedfc0a986</string>
	<key>DATABASE_URL</key>
	<string>https://stramplerbande-d7bd4.firebaseio.com</string>
</dict>
</plist>